<main>
  <h1>Product list:</h1>
  <div style="display: grid; grid-template-areas: 'a a a'; gap:20px">
    {{#if products}}
      {{#each products}}
        <div class="card">
          <div
            style="background-color: #f2f2f2; padding: 20px; text-align: center;"
          >
            <img
              src="https://static.vecteezy.com/system/resources/previews/019/902/260/original/new-product-banner-new-product-label-badge-icon-new-product-store-badge-icon-flat-vector.jpg"
              alt="Avatar"
              style="width: 100px; border-radius: 50%;"
            />
            <div style="margin-top: 10px;">
              <h4 style="margin: 15px; color: #333;"><b>Product name: <span style="color: blue;">{{productName}}</span></b></h4>
              <a
                href="/products/detail/{{uid}}"
                style="text-decoration: none; background-color: #4CAF50; color: white; padding: 10px 20px; border-radius: 5px;"
              >More info...</a>
            </div>  
          </div>
        </div>

      {{/each}}
    {{else}}
      <p>Products is not defined</p>
    {{/if}}
  </div>
</main>